<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/allLayout}">
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/camputFront/css/notice.css" />
</th:block>

        <div class="boardQ" layout:fragment="content">
            <div class="boardTop">
                <div class="boardTitle">
                    <a href="notice"> 공지사항 </a>
                </div>
            </div>
            <div class="boardMain">
                <div class="boardList"><a href="">
                    <div class="txtLeft">
                        <h1>[공지]..월..일 업데이트 예정</h1>
                        <span>2023.01.18</span>
                    </div>
                    <div class="txtRight">
                        <span>번호 01</span>
                        <p>조회수</p>
                    </div>
                </a></div>
                <div class="boardList"><a href="">
                    <div class="txtLeft">
                        <h1>[공지]..월..일 업데이트 예정</h1>
                        <span>2023.01.18</span>
                    </div>
                    <div class="txtRight">
                        <span>번호 01</span>
                        <p>조회수</p>
                    </div>
                </a></div>
                <div class="boardList"><a href="">
                    <div class="txtLeft">
                        <h1>[공지]..월..일 업데이트 예정</h1>
                        <span>2023.01.18</span>
                    </div>
                    <div class="txtRight">
                        <span>번호 01</span>
                        <p>조회수</p>
                    </div>
                </a></div>
                <div class="boardList"><a href="">
                    <div class="txtLeft">
                        <h1>[공지]..월..일 업데이트 예정</h1>
                        <span>2023.01.18</span>
                    </div>
                    <div class="txtRight">
                        <span>번호 01</span>
                        <p>조회수</p>
                    </div>
                </a></div>
                <div class="boardList"><a href="">
                    <div class="txtLeft">
                        <h1>[공지]..월..일 업데이트 예정</h1>
                        <span>2023.01.18</span>
                    </div>
                    <div class="txtRight">
                        <span>번호 01</span>
                        <p>조회수</p>
                    </div>
                </a></div>
                <div class="boardNum">
                    1,2,3,4,5 >
                </div>
            </div>
        </div>
    </div>
<th:block layout:fragment="script">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- 아이콘 -->
    <script src="https://kit.fontawesome.com/946fabfe17.js" crossorigin="anonymous"></script>
</th:block>
</html>