@import url("../css/reset.css");
/* 라인 */
@font-face { font-family: 'LINESeedKR-Bd'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2'); font-weight: 700; font-style: normal; }
/* 티머니 */
@font-face { font-family: 'TmoneyRoundWindExtraBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff'); font-weight: normal; font-style: normal; }
*{font-family:'TmoneyRoundWindExtraBold'; -webkit-text-size-adjust: auto;}

/* 스크롤제거 */
body{
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}
::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
/* 메뉴바 */
header{
    /*position: fixed; margin: 0 auto;*/
    /*top: 0;left: 0;right: 0;z-index: 6;*/
    height: 10%; width: 100%; padding: 2% 0;
    background-color: rgba( 255, 255, 255, 0.1);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Logo{
    margin-left: 5%;
    width: 10%; padding-bottom: 7%;
    background-image: url("../img/logo.png");
    background-size:contain ;
    background-repeat: no-repeat;
}
/* 메뉴 */
.nav1{
    width: 30%;
    margin-right: 5%;
    display: flex;
    justify-content: flex-end;
    margin: 5%;
    font-size: 1.5vw;
}
.nav2{
    width: 30%;
    margin-right: 5%;
    display: flex;
    justify-content: flex-end;
    margin: 5%;
    font-size: 1.5vw;
}
.nav1 .menuBtn{
    width: 100%;
    display: inline-flex;
}
.nav2 .menuBtn{
    width: 100%;
    display: inline-flex;
}
.menuBtn{
    width: 100%;
    display: inline-flex;
}
.menuBtn li{width: 100%; margin: 0 3%;}
.menu{position: relative;}
.menu ul{
    position: absolute; right: 80%;
    width:max-content; font-size: 1vw;
}

/* 사이드 메뉴 */
.miniMenu{display: none;}
.miniMenu li{font-size: 1.5vw; width: 100%; text-align: right;}
