<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/camputDetail.js"></script>
    <link rel="stylesheet" href="/css/campDetail.css">
</head>
<body>
    <!-- 캠프 상세페이지 & 예약페이지 -->
    <div class="wrap" >
        <header>
            <!-- header01.html or hearder01.html -->
        </header>
        <div class="innercon">
            <!-- 캠핑장 이미지 및 간단소개 -->
            <div class="camp_main" >
                <div class="cmap_img" >
                    <div class="main_img" ></div>
                    <div class="img_box">
                        <div class="box01"><a href=""></a></div>
                        <div class="box02"><a href=""></a></div>
                        <div class="box03"><a href=""></a></div>
                    </div>
                </div>
                <div class="camp_txt">
                    <div class="camp_title">camp name</div>
                    <div class="camp_addr">주소</div>
                    <div class="capm_owner">사장님 한마디</div>
                </div>
            </div>
            <!-- 객실안내 / 예약 -->
            <div class="roomInfo_Booking">
                <div class="main_title">
                    <a href="">객실안내 / 예약</a>
                    <a href="">숙소정보</a>
                    <a href="">리뷰</a>
                </div>
                <div class="room">
                    <div class="room_img"></div>
                    <div class="room_info">
                        <p>camp name</p>
                        <samp>100,000원</samp>
                        <button>예약하기</button>
                    </div>
                </div>
            </div>
            <!-- 숙소정보 -->
            <div class="acc_info">
                <div class="main_title">
                    <div class="main_title_reservation">객실안내 / 예약</div>
                    <button>에약하기</button>
                    <div class="reservationCalendar">
                        <div class="sec_cal">
                            <div class="cal_nav">
                              <a href="javascript:;" class="nav-btn go-prev" id="prev1">prev</a>
                              <div class="year-month"></div>
                              <a href="javascript:;" class="nav-btn go-next">next</a>
                            </div>
                            <div class="startWarring"></div>
                            <div class="cal_wrap">
                              <div class="days">
                                <div class="day">MON</div>
                                <div class="day">TUE</div>
                                <div class="day">WED</div>
                                <div class="day">THU</div>
                                <div class="day">FRI</div>
                                <div class="day">SAT</div>
                                <div class="day">SUN</div>
                              </div>
                              <div class="dates one"></div>
                            </div>
                          </div>
                          <div class="startReservationDay"></div>

                          <div class="sec_cal">
                            <div class="cal_nav">
                              <a href="javascript:;" class="nav-btn go-prevend" id="prev2">prev</a>
                              <div class="year-month-end"></div>
                              <a href="javascript:;" class="nav-btn go-nextend">next</a>
                            </div>
                            <div class="endWarring" style="color: red;"></div>
                            <div class="cal_wrap">
                              <div class="days">
                                <div class="day">MON</div>
                                <div class="day">TUE</div>
                                <div class="day">WED</div>
                                <div class="day">THU</div>
                                <div class="day">FRI</div>
                                <div class="day">SAT</div>
                                <div class="day">SUN</div>
                              </div>
                              <div class="dates two"></div>
                            </div>
                          </div>
                          <div class="endReservationDay"></div>
                        </div>
                    <div class="main_title_info">숙소정보</div>
                    <div class="main_title-review">리뷰</d>
                </div>
                <div class="info">
                    <!-- 어떤 식으로 가져와야되는지 확인 후 작성 -->
                </div>
            </div>
            <!-- 리뷰 -->
            <div class="review">s
                <div class="main_title" >
                    <a href="">객실안내 / 예약</a>
                    <a href="">숙소정보</a>
                    <a href="">리뷰</a>
                </div>
                <div class="avg_star"></div>
                <div class="review_list">
                    <div class="re_box">
                        <div class="member_profile">
                            <div class="member_img" style= "background-color: rgba(72, 137, 73, 0.562)"></div>
                            <div class="member_nickName">닉네임</div>
                            <div class="re_star"></div>
                        </div>
                        <div class="re_txt_img">
                            <div class="re_txt"></div>
                            <!-- 이미지 장수 제한 2~4개 정도 -->
                            <div class="re_img"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>