@import url(/camputFront/css/reset.css);

/* 헤더 사이즈 */
header{
    width: 1280px;height: 300px; margin: 0 auto;
    background-image: url(/camputFront/img/header02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center 90%;
}
.backgr{
    display: flex;
    justify-content: space-between;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);}
/* 레이아웃 */
.leftHeader{
    width: 30%; height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.rigthHeader{
    width: 30%; height: 100%;
    display: flex;
    flex-direction: row;
}

/* 로고 */
.logo{
    width: 50%;height: 50%;
    margin-top: 10%;
    background-image: url(/camputFront/img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.now_page{
    color: #fff;
    width: 100%; height: 20%;
    font-size: 1rem; padding: 0 5%;
}
.nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 5%;
    font-size: 1.2rem;
}
.nav>div{margin: 0 4%;}
.nav a{color: #fff;}
/* 사이드 메뉴 */
.miniMenu{display: none;}