spring:
#  datasource:
#    url: jdbc:mysql://localhost:3306/camput?useSSL=false&characterEncoding=UTF-8&serverTimezone=UTC
#    username: gigi
#    password: camp1234
#    driver-class-name: com.mysql.cj.jdbc.Driver
  datasource:
    url: jdbc:h2:tcp://localhost/~/practice3
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        # show_sql: true
        format_sql: true

logging.level:
  org.hibernate.SQL: debug
# org.hibernate.type: trace

server:
  port: 8081