@import url("reset.css");
/* 라인 */
@font-face { font-family: 'LINESeedKR-Bd'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2'); font-weight: 700; font-style: normal; }
/* 티머니 */
@font-face { font-family: 'TmoneyRoundWindExtraBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff'); font-weight: normal; font-style: normal; }
*{font-family:'TmoneyRoundWindExtraBold'; -webkit-text-size-adjust: auto;}

/* 화면 구성 */
.home{
    height: 100%; width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.home::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}


/* 메뉴바 */
header{
    position: fixed;
    top: 0;left: 0;right: 0;z-index: 6;
    height: 15%;
    background-color: rgba( 255, 255, 255, 0.1);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Logo{
    margin-left: 5%;
    width: 10%; padding-bottom: 7%;
    background-image: url("/camputFront/img/logo01_2.png");
    background-size:contain ;
    background-repeat: no-repeat;
}
/* 메뉴 */
.nav{
    width: 20%;
    margin-right: 5%;
    display: flex; justify-content: flex-end;
    margin: 5%;
    font-size: 2vw;
}
.menuBtn{
    width: 100%;
    display: inline-flex;
}
.miniMenu li{width: 100%; font-size: 1.3vw;}
.menuBtn .menu{position: relative;}
.menu li{position: absolute; width:100%; height: 100%; right: 80%;}
.menu .qandA{top: 200%;}
/* 사이드 메뉴 */
.miniMenu{display: none;}
.miniMenu li{text-align: right;}

.middle-wrap{
    width: 100%;
    height: 3000px;
}
.middle{
    z-index: 2; width: 100%;
    height: 100%;
}
.campTopSevenContent{
    font-weight: bolder;
    font-size: 6rem;
    margin-left: 10%;
    padding-top: 20%;
}
/* 캠프top */
.campIcon{
    width: 60%;
    margin: auto;
    margin-top: 50%;
    text-align: center;
    height: 2%;
    font-size: 2.5rem;
    font-weight: 700;
}
.campTopSeven{
    margin-bottom: 10%;
    height: 18%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;height: 70%;
}
.campSideInfo{
    position: absolute;
    border-radius:7px ;
    width: 72%;
    height: 85%;
    font-size: 2rem;
    /* background-image: url('https://enhttps://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSskk40ZIt_Tgli5ZzTGdsCmQNoVqgjQnR651wSpPGe1wZDYmIqc1iTJL49J1Bqy6l4H8Q&usqp=CAUcrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSskk40ZIt_Tgli5ZzTGdsCmQNoVqgjQnR651wSpPGe1wZDYmIqc1iTJL49J1Bqy6l4H8Q&usqp=CAU');*/
    background-color: #fda085;
    background-size: cover;
    background-repeat: no-repeat;
}
.campSideInfo h1 {font-size: 1.2rem;}
.campSideInfo ul{
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.166);
    border-radius:7px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    display: none;
}
.campSideInfo ul li{
    height: 15%;
    padding: 6% 0;
    padding-left: 7%;
}
.detail{margin-right: 10%;}
.detail button{
    float:right;
    width: 60%; padding: 5% 8%;
    margin: 2% auto;font-size: 1rem; font-family: 'TmoneyRoundWindExtraBold';
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
    border-radius: 10px; border: 0;
    background-color: rgba(255, 255, 255, 0.7);
    color: #ffa600;
}

.campSideInfo ul li p{
    font-size: 1.3rem;
    font-weight: bold;
}

.ToptButton{
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 40px;
}
.campSide{
    margin-left: 10%;
}
.detail p{
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: #fff;
}
.one{z-index: 1;}.two{z-index: 5;}.three{z-index: 4;}.four{z-index: 3;}.five{z-index: 2;}

.findCampsUseInfo{
    position: relative;
    width: 100%;
    height: 80%;
}
.searchInput{
    position: absolute; margin: 0 auto;
    padding-top: 2%;
    width: 100%;
    height: 10%;
}
.search-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%; height: 80%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}
.searchInputText{
    width: 70%; height: 80%;
    border: none;outline: none;
    font-size: 1rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6 );
    color: #ffa600; font-size: 0.8rem; font-weight: bold;
    padding: 0 2%;
}
.bt{
    width: 7%; height: 90%;
    border: none;
    border-radius: 5px;
    color: #ffa600;
    font-weight: bold;
    font-size: 0.8rem;
    background-color: rgba(255, 255, 255, 0.6 );
}
input{
    padding: 0 2%; margin: 2%; font-family: 'TmoneyRoundWindExtraBold';
}
.MapTitle{
    width: 100%;
    margin: auto;
    margin-top: 20%;
    text-align: center;
    height: 5%;
    font-size: 6rem;
    font-weight: bold;
}
.mapWrap{
    position: sticky;
    width: 100%;
    height: 40%;
}
.categoryInput{
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 10;
}
.test{
    width: 100%;
    height: 100%;
}
/* 필터 */
.filterBox{
    width: 90%; height: 60%;
    position: absolute;
    left: 5%; top: 10%;
    display: flex; flex-direction: column;
    align-items: center;
    justify-content: center;
}
.filter{
    display: flex;
    flex-direction: column;
    width: 80%;height: 100%; margin: auto;
    justify-content: space-around;
    border-radius: 20px; padding: 1%;
    background-color: rgba(255, 255, 255, 0.6); ;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
}
.warring{
     padding: 20px;
     text-align: center;
}
.filterContent{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-top: 3%;
}
.starsSelect{
    width: 100%;

}
.filter ul{
    width: 90%;
    display: flex;
}
.filter ul li{
    width: 100%;
}
.contentTitle{
    width: 8%;
}
.categoryContent{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2% 0;
}
/* 지역 */
.locationSelect{
    width: 100%;
    position:relative; overflow: hidden;
    float: left;width: 100%; margin: 0.5%;
}
.locationSelect ul{
    width: 100%; display: block;
}
.locationSelect ul li{
    width: 40%; display:inline-block; text-align: justify;
}
/* 동물 */
.animalTop{width: 30%;}
.animalCheckSelect{width: 50%;}
/* 종류 */
.campKindsTop{width: 30%;}
.campKindsSelect{width: 50%;}
.category{
    text-align: center;
    width: 100%;
    margin-top: 2%;
    padding: 3%;
}
.category button{
    padding: 3%; width: 30%; font-size: 1.5rem; font-family: 'TmoneyRoundWindExtraBold';
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
    border-radius: 20px; border: 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: #ffa600;
}
/* 지도 */
.map{
    padding-top: 10%;
    width: 100%;
    height: 100%;
}
.mapImage{
    background-color: #403a2d;
    width: 80%;
    margin: auto;
    height: 100%;
}
 .mapImage.zIndex{
    z-index: -1;
}

.wrap {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 400px;
    height: 152px;
    margin-left: -193px;
    text-align: left;
    font-size: 10px;
    line-height: 1.5;}
.info {position:relative; width:98%;height:98%; border-radius: 10px;background-color: white;}
.title {height: 20%; display: flex;justify-content: space-between;align-items: center;border:none;border-radius: 10px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;background-color: #f6d365;  color: #403a2d;
    font-size:13px; font-weight: bolder;    padding: 0px 11px;}
.closeBtn{float: right;border: none;background-color: #f6d365}
.overlayContent{width: 100%; height: 80%;display: flex; }
.image{border-bottom-left-radius:10px; background-size: cover; width: 40%;height: 100%;}
.desc{display:inline-block;overflow: auto; width: 60%;display: grid;justify-items: center;font-size: 11.5px;padding: 2px 0px;}
.address{margin-top: 5px;width: 100%}
.lineInfo{margin-top: 5px;width: 100%}
.CampHome a{
    text-decoration: none;
    font-weight: bolder;
}
.moveToDetail{
    width: 220px;
    border: none;
    border-radius: 9px;
}

