@import url("reset.css");
/* 라인 */
@font-face { font-family: 'LINESeedKR-Bd'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2'); font-weight: 700; font-style: normal; }
/* 티머니 */
@font-face { font-family: 'TmoneyRoundWindExtraBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff'); font-weight: normal; font-style: normal; }
*{font-family:'TmoneyRoundWindExtraBold';}
/* *{font-family:'LINESeedKR-Bd';} */

/* 배경 */
.wrap{
    margin: 0 auto; height: 100vh;
    overflow-y: scroll;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
/* 스크롤제거 */
body{
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}
::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
/* 헤더 */
header{
    /* position: fixed;
    top: 0;left: 0;right: 0;z-index: 6; */
    height: 15%;
    background-color: rgba( 255, 255, 255, 0.1);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Logo{
    margin-left: 5%;
    width: 10%; padding-bottom: 7%;
    background-image: url("/camputFront/img/logo01_2.png");
    background-size:contain ;
    background-repeat: no-repeat;
}
/* 메뉴 */
.nav{
    width: 20%;
    margin-right: 5%;
    display: flex;
    justify-content: flex-end;
    margin: 5%;
    font-size: 1.2rem;
}
.menuBtn{
    width: 100%;
    display: inline-flex;
}
.menuBtn li{width: 100%; font-size: 1.3rem;}
.menuBtn .menu{position: relative;}
.menu li{position: absolute; width:100%; height: 100%; right: 80%;}
.menu .qandA{top: 200%;}
/* 사이드 메뉴 */
.miniMenu{display: none;}
.miniMenu li{text-align: right;}


/* 보드 리스트 */
.boardQ{
    /* margin: 15vh auto;  */
    margin: 0 auto; 
    width: 60%; height: 80vh;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}
/* 보드타이틀 */
.boardTop{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding-top: 5vh; font-size: 2vw;
}
.boardTop .boardTitle{
    margin-left: 5%; width: 9vw; height: 3.5vw;
    border-bottom: 5px solid #000;
}
.boardMain{
    width: 80%; height: 80%; margin: 2vh auto;
    padding: 2%;
}
.boardList a{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid rgba(0, 0, 0, 0.7);
    padding: 2%;
}
.txtLeft{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.txtLeft h4{font-size: 1.5vh;}
.txtLeft h1{font-size: 2vh;}
.txtLeft span{font-size: 1vh;}
.txtRight{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.txtRight span{font-size: 1vh;}
.txtRight p{font-size: 1.2vh;}

/* 페이지 수  */
.boardNum{
    width: 50%; text-align: center;
    margin: 2vh auto;
    font-size: 1.5vh;
}