/* 모달 창 관련 css */
#modal {
    position: absolute;left: 0;top: 0;
    width: 100%; height: 100%;
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal_box {
    position: absolute;left: 25%;top: 25%;
    width: 50%; height: 10%;
    margin: 1% auto;
    padding: 5% 0;
    text-align: center;
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}
