@import url("/reset.css");
/* 라인 */
@font-face { font-family: 'LINESeedKR-Bd'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2'); font-weight: 700; font-style: normal; }
/* 티머니 */
@font-face { font-family: 'TmoneyRoundWindExtraBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff'); font-weight: normal; font-style: normal; }
*{font-family:'TmoneyRoundWindExtraBold'; -webkit-text-size-adjust: auto;}

/* 화면 구성 */
*{
    padding: 0px;
    margin: 0px;
}
.home{
    height: 100vh;
    width: 100vw;

}
.top{
    z-index: 1;
    width: 100%;
    padding: 1rem 0px;
    margin-bottom: 20px;
    font-weight: bolder;
    background-color: rgba( 255, 255, 255, 0.1 );
}
.fixed.top{
    position: fixed;
}
.topContent-wrap{
    display: flex;
    padding: 0px 200px;
    justify-content:space-around;
}
.Logo{
    justify-content: flex-start;
    width: 60px;
    height: 60px;
    background-image: url("../img/camput.png");
    background-size:contain ;
    background-repeat: no-repeat;
}
.right-bar{
    display: flex;
    align-items: flex-end;
}
.right-bar ul{
    display: flex;
    align-items: baseline;
    list-style: none;
    align-items: center;
}
.right-bar ul li{
    margin: 0px 1rem;
    font-size: 18px;
}
.right-bar ul li a{
    text-decoration: none;
    color: black;
}

.middle-wrap{
    width: 100%;
    height: 4000px;
}
.middle{
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.campTopSevenContent{
    font-weight: bolder;
    font-size: 130px;
    margin-left: 10%;
    padding-top: 20%;
}
.campTopSeven{
    margin-bottom: 10% ;
    height: 18%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around
}
.campIcon{
    width: 60%;
    margin: auto;
    margin-top: 20%;
    text-align: center;
    height: 5%;
    font-size: 100px;
    font-weight: 700;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    height: 70%;
}
.campSideInfo{
    position: absolute;
    border-radius:7px ;
    width: 72%;
    height: 85%;
    font-size: 30px;
    /* background-image: url('https://enhttps://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSskk40ZIt_Tgli5ZzTGdsCmQNoVqgjQnR651wSpPGe1wZDYmIqc1iTJL49J1Bqy6l4H8Q&usqp=CAUcrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSskk40ZIt_Tgli5ZzTGdsCmQNoVqgjQnR651wSpPGe1wZDYmIqc1iTJL49J1Bqy6l4H8Q&usqp=CAU');*/
    background-color: #fda085;
    background-size: cover;
    background-repeat: no-repeat;
}
.campSideInfo ul{
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.166);
    border-radius:7px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    display: none;
}
.campSideInfo ul li{
    list-style: none;
    height: 15%;
    padding: 6% 0px;
    padding-left: 7%;

}

.campSideInfo ul li p{
    font-size: 25px;
    font-weight: 700;
}

.ToptButton{
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 40px;
}
.campSide{
    margin-left: 10%;
}
.detail p{
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: aliceblue;
}
.one{z-index: 6;}.two{z-index: 5;}.three{z-index: 4;}.four{z-index: 3;}.five{z-index: 2;}

.findCampsUseInfo{
    position: absolute;
    width: 100%;
    height: 40%;
}
.searchInput{
    position: absolute;
    padding-top: 2%;
    width: 100%;
    height: 14%;
    margin: auto;
}
.search-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 79%;
    height: 69%;
    margin: auto;
    border-radius: 5px;
    background-color: white;
}
.searchInputText{
    width: 70%;
    height: 80%;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 5px;

}
.bt{
    width: 6%;
    height: 90%;
    border: none;
    border-radius: 5px;

}
.MapTitle{
    width: 60%;
    margin: auto;
    margin-top: 20%;
    text-align: center;
    height: 5%;
    font-size: 100px;
    font-weight: 700;
}
.mapWrap{
    position: sticky;
    width: 100%;
    height: 40%;
}
.categoryInput{
    width: 100%;
    height: 100%;
    margin: auto;

}
.test{
    width: 100%;
    height: 100%;
}
.filter{
    display: flex;
    flex-direction: column;
    width: 80.5%;
    height: 100%;
    margin: auto;
    justify-content: space-around;
    border: 1px solid;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.608); ;
}.warring{
     padding: 20px;
     text-align: center;
 }

.filter ul{
    margin-top: 5%;
    padding: 0px 40px;
}
.categoryContent{
    width: 80%;
    padding-top: 15%;
    text-align: center;
}

.filter ul li{
    list-style: none;
}
.starsTop{
    text-align: center;
}
.location{
    text-align: center;
}
.category{
    text-align: center;
    width: 100%;
    margin-top:10% ;
    padding: 10px;
    height: 10%;
    margin: auto 0px;

}
.category button{
    width: 80%;
    height: 100%;
    margin: auto;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    background-color: #f6d46541;
}
.map{
    padding-top: 10%;
    width: 100%;
    height: 45%;
}
.mapImage{
    width: 80%;
    margin: auto;
    height: 100%;
}
.mapImage.zIndex{
    z-index: -1;
}
.filterContent{
    display: flex;
}
.wrap {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 400px;
    height: 152px;
    margin-left: -193px;
    text-align: left;
    font-size: 10px;
    line-height: 1.5;}
.info {posittion: relative; width:98%;height:98%; border-radius: 10px;background-color: white;}
.title {height: 20%; display: flex;justify-content: space-between;align-items: center;border:none;border-radius: 10px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;background-color: #f6d365;  color: #403a2d;
    font-size:13px; font-weight: bolder;    padding: 0px 11px;}
.closeBtn{float: right;border: none;background-color: #f6d365}
.overlayContent{width: 100%; height: 80%;display: flex; }
.image{border-bottom-left-radius:10px; background-size: cover; width: 40%;height: 100%;}
.desc{display:inline-block;overflow: auto; width: 60%;display: grid;justify-items: center;font-size: 11.5px;padding: 2px 0px;}
.address{margin-top: 5px;width: 100%}
.lineInfo{margin-top: 5px;width: 100%}
.CampHome a{
    text-decoration: none;
    font-weight: bolder;
}
.moveToDetail{
    width: 220px;
    border: none;
    border-radius: 9px;
}
.home{margin-top: 5px;margin-bottom: 5px}
