@import url("reset.css");
/* 라인 */
@font-face { font-family: 'LINESeedKR-Bd'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2'); font-weight: 700; font-style: normal; }
/* 티머니 */
@font-face { font-family: 'TmoneyRoundWindExtraBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff'); font-weight: normal; font-style: normal; }
*{font-family:'TmoneyRoundWindExtraBold';}
/* *{font-family:'LINESeedKR-Bd';} */
.wrap{
    width: 1920px; height: 1080px; margin: 0 auto; 
}
.backImg{
    width: 100%; height: 100%;
    background-image: url(../img/camp-gadfc85d94_1280.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:bottom;
}
.innercom{
    width: 100%;height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.main{
    width: 100%; height: 100%;
    display: flex;
    align-items: center; align-content: center;flex-direction: column;
}
.loginform{width: 25%;}
input{padding: 5%; margin: 1% 0; width: 100%; font-size: 1.5rem; font-family: 'TmoneyRoundWindExtraBold';}

/* 로고 */
.main .logo{
    background-image: url(../img/Logo01.png);
    background-repeat: no-repeat; background-size: contain;
    width: 35%; padding-bottom: 35%;
    margin-top: -3%;
}
.loginSub{width: 100%; margin-left: 10%;}
.loginSub a{
    font-size: 1.5rem;
    color: #fff;
}
.loginSub a::after{
    content: "|";
    margin: 0 2%;
}
.loginSub a:last-child::after{display: none;}
.field-error {
    text-align: center;
    font-size: 1.8rem;
    border-color: #dc3545;
    color: #dc3545;
}
.loginBtn{margin-left: 5%; background-color: rgba(255, 255, 255, 0.7); font-size: 2rem;}