@import url("reset.css");
/* 라인 */
@font-face { font-family: 'LINESeedKR-Bd'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2'); font-weight: 700; font-style: normal; }
/* 티머니 */
@font-face { font-family: 'TmoneyRoundWindExtraBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff'); font-weight: normal; font-style: normal; }
*{font-family:'TmoneyRoundWindExtraBold';}
/* *{font-family:'LINESeedKR-Bd';} */
.wrap{
    width: 1920px; height: 1080px; margin: 0 auto; 
}
.backImg{
    width: 100%; height: 100%;
    background-image: url(/camputBack/src/main/resources/static/img/camp-gadfc85d94_1280.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:bottom;
}
.innercom{
    width: 100%;height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center; align-content: center;flex-direction: column;
}
/* 로고 */
.logo{
    background-image: url(/camputBack/src/main/resources/static/img/Logo01.png);
    background-repeat: no-repeat; background-size: contain;
    width: 40%; padding-bottom: 40%;
    margin-top: 0%; margin-right: 2%;
}

/* 로그인, 회원가입 */
.memberLogin{width: 50%; text-align: center;}
.memberLogin button{margin: 1%; width: 20%; background-color: rgba(255, 255, 255, 0);}
.memberLogin button a{color: #fff; font-size: 3rem; display: flex; align-items:flex-end;}
.memberLogin .joinBtn img{width: 30%; padding-bottom: 5%;}

/* map버튼 */
.homeBtn{width: 20%;padding: 1%; border-radius: 20px; background-color: rgba(255, 180, 3, 0.5);}
.homeBtn a{color: #fff; font-size: 2rem;}
.homeBtn i{color: #fff; font-size: 3rem; margin-left: 30px;}

/* 로그아웃, 마이페이지 */
/* .noneMember{width: 50%; text-align: center;}
.noneMember button{margin: 1%; width: 20%; background-color: rgba(255, 255, 255, 0);}
.noneMember button a{color: #fff; font-size: 3rem; display: flex; align-items:flex-end;}
.noneMember .logout img{width: 30%; padding-bottom: 5%;} */
