*{
    margin: 0px;
    padding: 0px;
}
.myPageMemberInfo{
    position: relative;
    width: 100%;
    height: 1500px;
}
.top{
    width: 100%;
    padding: 1rem 0px;
    font-weight: bolder;
}
.topContent-wrap{
    display: flex;
    padding: 0px 20px;
    padding-left: 50px;
    justify-content:space-between ;
}
.Logo{
    justify-content: flex-start;
    width: 60px;
    height: 60px;
    background-image: url("../img/camput.png");
    background-size:contain ;
    background-repeat: no-repeat;
}
.right-bar{
    display: flex;
    align-items: flex-end;
}
.right-bar ul{
    display: flex;
    align-items: baseline;
    list-style: none;
    align-items: center;
}
.right-bar ul li{
    margin: 0px 2rem;
    font-size: 18px;
}
.middle-warp{
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgb(248, 249, 250);
}
.middle{
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: 150px;
    height: 70%;
    border-radius: 10%;
    border: 0.1rem solid rgb(233, 236, 239);;
    background-color: white;
}

.middleT{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    font-weight: 700;
    height: 25%;
}
.memberimage_nickName{
    margin: 70px 0px;
    margin-left: 100px;
}
.memberImage{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 100%;
    margin-bottom: 20px;
}
.memberNickName{
    text-align: center;
}


.middleInfoTop{
    display: flex;
    align-items: flex-end;
    font-size:30px ;
    padding: 20px;
    padding-bottom: 50px;
    padding-left: 140px;
}
.middleM{
    display: flex;
    position: relative;
    width: 100%;
    height: 80%;
}
.sidebar_warp{
    display: flex;
    align-content: space-between;
    height: 100%;
}
.sideBar{
    padding-left: 100px;
    height: 80%;
    border-right:2px solid rgb(233, 236, 239);
    width: 150px;
}
.sideBar ul li{
    list-style: none;
    font-size: 20px;
    font-weight: bolder;
    padding-top: 50px;
    padding-right: 30px;

}
.sideBar ul li a{
    color: black;
    text-decoration: none;
}
.sideBar ul li a:hover{
    color: rgb(201, 36, 36);
}
.memberInfo a{
    border-bottom:2px solid ;
}

.middleInfo{
    position: relative;
    display:flex;
    flex-direction: column;
    width: 80%;
    height: 71%;
    padding: 20px 80px;
    padding-bottom:100px;
}
.middleInfo ul li{
    list-style: none;
    font-size: 20px ;
    padding: 5px;
}
.middleInfo ul .title{
    color: rgb(205, 205, 205);
}
.openCheckWindow{
    background-color: rgb(44, 231, 153);
    font-size: 18px;
    font-weight: bolder;
    color: rgb(80, 79, 79);
    border: 1px solid rgb(188, 188, 188);
    border-radius: 5px;
    padding: 10px 40px ;
    margin: 50px 0px;
}
.modal{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 1500px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
.checkMember-wrap{
    position: relative;
    width: 100%;
    margin-top: 850px;
}
.checkMember{
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    height: 200px;
    margin-top: 200px;

}
.checkMemberTitle{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    border-bottom: 1px solid rgb(188, 188, 188) ;
    background-color: rgba(77, 177, 82, 0.416);
    padding: 5px 10px;
}
.close{
    background-color: rgba(77, 177, 82, 0);
    border: none;
}
.content{
    text-align: center;
    padding: 30px 0px;
}
.contentInput{
    display: flex;

    justify-content: center;
}
.pwCheck{
    width: 250px;
    height: 30px;
}
.memberInfoChange{
    margin-left: 10px;
    width: 50px;
    font-weight: 700;
    background-color: rgba(77, 177, 82, 0.416) ;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 5px;
}